
<div class="w-auto">
  <div class="mt-11 bg-gray-200 p-3 shadow-md rounded relative">
    <span class="px-6">Add Article</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 absolute top-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
    </svg>
</div>
  <form 
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      #frmadd="ngForm" (ngSubmit)="addArticle(frmadd.value)"
      >
      <div class="mb-4">
        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date & time" ngModel="publicationDate" name="publicationDate">
          <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        </mat-form-field>
      </div>
      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="auteur">
          Auteur
        </label>
        <input 
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
          id="auteur" 
          name="auteur"
          type="text" 
          placeholder="Auteur"
        
          ngModel
          #frmAuteur="ngModel"  
          
          >
          <small [hidden]="frmAuteur.valid || frmAuteur.pristine" class="p-2 text-red-500">* Category is required</small>
      </div>
      
      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="source">
          Source
        </label>
        <input 
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
          id="source" 
          name="source"
          type="text" 
          placeholder="Source"
          
          ngModel
          #frmSource="ngModel"  
          
          >
          <small [hidden]="frmSource.valid || frmSource.pristine" class="p-2 text-red-500">* Category is required</small>
      </div>

      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="title">
          Category
        </label>
        <select name="categoriesId" ngModel   class="block w-full bg-blue-500 text-white border border-grey-800 rounded-lg h-10 px-4 md:w-1/4 " >
          <option [ngValue]="null" >--Your choice--</option>
          <option  *ngFor="let category of categories;" [ngValue]="category.id">{{category.category}}</option>
        </select>
      </div>    
      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="countriesIdpays">
          Country
        </label>
        <select name="countriesIdpays" ngModel  class="block w-full bg-blue-500 text-white border border-gry-800 rounded-lg h-10 px-4 md:w-1/2 " >
          <option [ngValue]="null" >--Your choice--</option>
          <option  *ngFor="let country of countries;"  [ngValue]="country.idpays">{{country.pays}}</option>
        </select>
      </div>    
      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="title">
          Title
        </label>
        <input 
          class="shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
          id="title" 
          name="title"
          type="text" 
          placeholder="Title"
          
          ngModel
          #frmTitle="ngModel"  
          size="100"

          >
          <small [hidden]="frmTitle.valid || frmTitle.pristine" class="p-2 text-red-500">* Category is required</small>
      </div>

      <div class="grid grid-cols-1 space-y-2 mb-4">
        <label class="text-sm font-bold text-gray-700 tracking-wide">Image</label>
        <div class="flex items-center justify-center w-full">
          <label class="flex flex-col rounded-lg border-4 border-dashed w-full h-60 p-10 group text-center">
              <div class="h-full w-full text-center flex flex-col items-center justify-center items-center  ">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-blue-400 group-hover:text-blue-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                  <p class="pointer-none text-gray-500 ">
                    <span class="text-sm">Drag and drop</span> files here <br /> from your computer</p>
              </div>
              <input 
                type="file" 
                name="photo" 
                class="hidden"
                
                ngModel
                #frmPhoto="ngModel" 
                
              >
              <!-- <small [hidden]="frmPhoto.valid || frmPhoto.pristine" class="p-2 text-red-500">* Category is required</small> -->
          </label>
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-gray-500 text-sm font-bold mb-2" for="article">
          Article
        </label>
        <textarea  cols="90" rows="15"
          class="fr-view shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
          id="article" 
          name="article"
          placeholder="Article"
          ngModel="html"
          [froalaEditor]
        >
          </textarea>
          
          <!-- <small [hidden]="frmArticle.valid || frmArticle.pristine" class="p-2 text-red-500">* Article is required</small> -->
      </div>
     
      <div class="flex items-center justify-between">
        <input
          type="hidden"
          ngModel
          #frmID="ngModel"
          name="userId"
          [ngModel]="currentUserId"
        >
        <button 
          
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
          type="submit"
          >
          Add 
        </button>
      
      </div>
  </form>
 
</div>
